*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.PadreCarrito{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.cardProductoCarrito{
    display: flex;
    height: 50%;
}
.CardProductoStyle{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.CardBodyDescription{
    margin-left: 10vh;
    display: flex;
    align-items: center;
}
.CardDescriptionText{
    width: 50vh;
    height: auto;
}
.ImagenCart{
    width: 25vh;
    height: 25vh;
    object-fit: cover;
}
.TotalAPagar{
    margin: 1rem;
    font-size: large;
    font-weight: bolder;
}
.CartButtons{
    width: 30vh;
}
