.Prod__Div img{
    height: 40vh;
    width: 40vh;
    object-fit: cover;
    border: 1px solid;
    border-radius: 1rem;
}
.itemCards{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    mask-border-width: 30vh;
    justify-content: space-evenly;
}
.CardBody{
    width: 25%;
    height: fit-content;
}