.FooterStyles{
    display: flex;
    justify-content: space-between;
    position:fixed;
    width: 100%;
    bottom: 0%;
    align-items: center;
    background-color: rgb(169, 169, 169);
}
.FooterListStyle{
    display: flex;
    align-items: center;
}