.itemDetail{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cardSet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
.BotonesSeguirCarrito{
    display: flex;
    justify-content: center;
}
.BotonesSeguirCarrito button{
    width: 40vh;
}
.DetailBody{
    font-size: large;
    font-weight: bolder;
}